@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.header,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.main {
  font-size: 48px;
  font-weight: 900;
}

.secondary,
.links {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  width: fit-content;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 10%;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}

.links li {
  min-width: 100px;
}

.hero {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 100px 10%;
  box-sizing: border-box;
  width: 100%;
}

.text {
  width: 450px;
  flex-shrink: 0;
}

.image {
  width: 550px;
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
}

.button {
  background-color: #3882f6;
  padding: 8px;
  width: 130px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
}

.secondary {
  margin: 8px;
}
